.button-container{
    background-color: var(--vermelho);
    border-radius: 0.65rem;
    padding: 0.5rem 0.75rem;

    display: flex;
    gap: 0.5rem;
    width: fit-content;
    color: white;
    height: fit-content;
    cursor: pointer;
}

.button-name::selection{
    background-color: transparent;
}