:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --preto: #000000;
  --cinza: #7a7a7a;
  --cinza-texto: #1e1e1e;
  --cinza-claro: #dddddd;
  --cinza-fundo: #f0f0f0;
  --vermelho: #ff5a5f;
  --verde: #89e77c;
  background-color: var(--preto);
}

body {
  margin: 0;
  padding: 0;
}